{% extends 'base.html' %} 

{% load crispy_forms_tags %}
{% block content %}


<article class="details_site-body">
    <div class="container px-4 px-lg-5" >
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 mt-5 mb-4" id="single-post2">
                <h1 id="post_details_header">{{ post.title }}</h1>
                <hr>
                <p id="post-content">{{ post.content }}</p>
                <hr>
                {% if post.author == request.user %}
                <a href="{% url 'edit_post' post.pk %}" class="btn btn-info mt-3 mb-3">Edit Post</a>
                <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger mt-3 mb-3">Delete</a>
                
                
                {% endif %}
                <!--<div class="row">
                    <p>comment</p>
                    <div class="col-12">
                        <form method="POST" action="">
                            {{ form }}
                        </form>
                    </div>-->
                    <hr>
                    
                    {% if request.user.is_authenticated %}
                        <h5>Leave a comment:</h5>
                        <h6>Posting as : {{ comment.author }}</h6> 
                        <form method="POST" action=""style="margin-top:1em ;">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn  btn-outline-primary mb-3">Comment!</button>
                        </form>
                    {% endif %}
                    {% for comment in comments %}
                    <div class="col-12">
                        <p> {{ comment.content }}</p>
                    </div>
                    {% endfor %}

    </div>
</div>
                </div>
            </div>
        </div>
    </div>
</article>






{% endblock %}

