


.site-body {
    background-color: #e2e9c0;
    
}

.details_site-body{
    background-color: #c7ecc7;
    height: 100vh;
}

.create_post-site-body{
    background-color: #bbe0e9;
    height: 100vh;

}

#site-header {
    font-size: 60px;
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.navbar {
    background-color: rgb(49, 49, 49);
}



/* Footer */
footer {
    background-color: rgb(49, 49, 49);
    padding: 30px;
    margin-bottom: 0;
}

#post_title{
    color: #180A0A;
}

#post_title:hover {
    color: rgb(135, 108, 226);
    
}


.copy {
    padding-top: 10px;
}





#single-post {
    border: 3px solid rgb(49, 49, 49);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}

#post_details_header {
    font-size: 3rem;
}

#post-content {
    font-size: 1.5rem;
}

#single-post2 {
    border: 3px solid rgb(49, 49, 49);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

#single-post3 {
    border: 3px solid rgb(49, 49, 49);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.socialmedia {
    
    padding: 10px;
    color: aliceblue;
}