


.navbar {
    background-color: rgb(49, 49, 49);
}



/* Footer */
footer {
    background-color: rgb(49, 49, 49);
    padding: 30px;
    margin-bottom: 0;

    

}

.copy {
    padding-top: 10px;
}



.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    
}

#post_title {
    
}