


.navbar {
    background-color: rgb(49, 49, 49);
}



/* Footer */
footer {
    background-color: rgb(49, 49, 49);
    padding: 30px;
    margin-bottom: 0;

    

}

.copy {
    padding-top: 10px;
}
